In [5]:
# Instalar libreria, solo si no se ha instalado previamente
# pip install alpha_vantage

In [6]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd

In [12]:
# Importar API key guardada en un archivo separado
from credentials import api_key

In [ ]:
# Símbolo de la acción que deseas obtener
ticker = "VOO"

In [26]:
# Crea una instancia de la clase TimeSeries con tu clave de API
ts = TimeSeries(key=api_key)

# Obtiene datos históricos de precios de acciones
datos, meta_datos = ts.get_daily(symbol=ticker, outputsize='full')

In [48]:
df = pd.DataFrame.from_dict(datos, orient='index')
df.columns = ['open', 'high', 'low', 'close', 'volume']
df[['open', 'high', 'low', 'close', 'volume']] = df[['open', 'high', 'low', 'close', 'volume']].astype(float)

In [49]:
df.head()

                open    high      low   close     volume
2023-12-05  418.3400  420.47  418.000  419.61  3419283.0
2023-12-04  418.6500  419.87  417.500  419.74  5806079.0
2023-12-01  418.8300  422.37  418.250  421.86  4973625.0
2023-11-30  418.5400  419.70  416.570  419.40  4405690.0
2023-11-29  420.0594  421.12  417.365  417.78  4092618.0